@model sonmarket.DTO.ProdutoDTO
@{
    Layout = "_LayoutAdmin";
}
<h3>Editar Produto</h3>
<hr>
<form class="form-horizontal" asp-controller="Produtos" asp-action="Atualizar" method="POST">
 <input type="hidden" asp-for="Id">

 <label asp-for="Nome">Nome</label>
 <input type="text" asp-for="Nome" class="form-control" placeholder="Nome da produto">
 <span asp-validation-for="Nome"></span><br>

<label asp-for="CategoriaID">Categoria</label>
<select class="form-control" asp-for="CategoriaID" asp-items='@(new SelectList(@ViewBag.Categorias,"Id","Nome"))'></select>
<br>
<label asp-for="FornecedorID">Fornecedor</label>
<select class="form-control" asp-for="FornecedorID" asp-items='@(new SelectList(@ViewBag.Fornecedores,"Id","Nome"))'></select>
<br>
<label asp-for="PrecoDeCusto">Preço de custo</label>
<input class="form-control" asp-for="PrecoDeCusto" type="number" step="any" placeholder="10.99">
 <span asp-validation-for="PrecoDeCusto"></span><br>

<label asp-for="PrecoDeVenda">Preço de venda</label>
<input class="form-control" asp-for="PrecoDeVenda" type="number" step="any" placeholder="20.50">
 <span asp-validation-for="PrecoDeVenda"></span><br>

<label asp-for="Medicao">Medição</label>
 <select class="form-control" asp-for="Medicao">
     <option value="0">Litro</option>
     <option value="1">Kilo</option>
     <option value="2">Unidade</option>
 </select>

 <br><button class="btn btn-success">Atualizar</button>
</form>