@model sonmarket.DTO.FornecedorDTO
@{
    Layout = "_LayoutAdmin";
}
<h3>Editar fornecedor</h3>
<hr/>
<form class="form-horizontal" asp-controller="Fornecedores" asp-action="Atualizar" method="POST">
 <input type="hidden" asp-for="Id">
 <label asp-for="Nome">Nome</label>
 <input type="text" asp-for="Nome" class="form-control" placeholder="Nome do fornecedor">
 <span asp-validation-for="Nome"></span><br>
 <label asp-for="Email">E-mail</label>
 <input type="email" asp-for="Email" class="form-control" placeholder="email@dofornecedor.com">
 <span asp-validation-for="Email"></span><br>
 <label asp-for="Telefone">Telefone</label>
 <input asp-for="Telefone" class="form-control" placeholder="98 9 9875-6572">
 <span asp-validation-for="Telefone"></span>
 
 <br><button class="btn btn-success">Atualizar</button>
</form>